<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="YSCMEntities" connectionString="metadata=res://*/SCMModels.SCM.csdl|res://*/SCMModels.SCM.ssdl|res://*/SCMModels.SCM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.29.15.165;initial catalog=YSCM;user id=sa;password=yil@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><add name="YSCMEntities" connectionString="metadata=res://*/SCMModels.SCMModel.csdl|res://*/SCMModels.SCMModel.ssdl|res://*/SCMModels.SCMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.29.15.165;initial catalog=YSCM;user id=sa;password=yil@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VSCMEntities" connectionString="metadata=res://*/RemoteModel.RemoteModel.csdl|res://*/RemoteModel.RemoteModel.ssdl|res://*/RemoteModel.RemoteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.29.15.165;initial catalog=VSCM;user id=sa;password=yil@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>